# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Fmod API
# fmod/**

# CMake build artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.dylib
*.dll
